name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [created]

jobs:
  test-and-lint:  # New job for tests and lint
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 'stable'

      - name: Install linters
        run: |
          go install golang.org/x/lint/golint@latest
          go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Install GCC
        run: choco install mingw -y

      - name: Install Fyne dependencies
        run: go get fyne.io/fyne/v2/...

      - name: Install make
        run: choco install make -y

      - name: Run tests and lint
        run: make test lint  # Run tests and lint

  build-and-release:  # Renamed job for clarity
    runs-on: windows-latest
    needs: test-and-lint  # Make this job depend on the test-and-lint job
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 'stable'

      - name: Install Fyne dependencies
        run: | 
          go install github.com/fyne-io/fyne/v2/cmd/fyne@latest
          $env:Path = "$env:Path;C:\Users\runneradmin\go\bin"
          fyne install

      - name: Install make
        run: choco install make -y

      - name: Build
        run: make build  # Just build

      - name: Create Release artifacts
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v3
        with:
          name: spice-release-${{ github.ref_name }}
          path: bin/
